@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Londrina+Solid&display=swap");

.success {
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
.space {
  background-color: #ce2829;
  height: 200px;
  width: 100vw;
}

.success > h1 {
  color: #fff;
  font-family: "Barlow", sans-serif;
}

